  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{alphanumber}}">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{alphanumber}}" aria-expanded="true" aria-controls="collapse{{alphanumber}}">
	        {{alphanumber}}
        </a>
      </h4>
    </div>
    <div id="collapse{{alphanumber}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{alphanumber}}">
    	{{folders}}
    </div>
  </div>